<h2>Nario pasirinkimas:</h2>
<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
  <div class="wrapper">
    <mat-form-field>
      <mat-select [(value)]="selectuserVal">
          <mat-option *ngFor="let user of users" [value]="user.id">{{user.name + " " + user.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
 
</form>
<div>
    <button mat-button (click)="close()">Uždaryti</button>
    <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="isLoading">Pridėti</button>
</div>