<div class="wrapper">
	<div class="logo">
	  <img src="assets/rvips-logo.png" alt="Logo"/>
	  <h1>Platesnė informacija apie rėmėją</h1>
	</div>
  <p class="block">{{sponsor.description}}</p>
  
  <div style="display: flex; justify-content: center; align-items: center; " class="space">
    <div style="text-align: center;">
      <h1 style="margin-bottom: 20px;">{{sponsor.sponsorName}}</h1>
      <p style="margin-bottom: 20px;">Kontaktinis telefonas: {{sponsor.telephoneNumber}}</p>
      <p style="margin-bottom: 20px;">El. paštas: {{sponsor.email}}</p>
      <p style="margin-bottom: 20px;">Addresas: {{sponsor.address}}</p>      
    </div>
  </div>

  <div class="space">
    <h2 class="line">
      Komentarai
    </h2>
    <button class="add-button" mat-raised-button color="primary" (click)="openCommentCreationModal()" [disabled]="!active">Pridėti komentarą</button>
    <div class="comments-block">
      <div class="box">
        <div *ngFor="let comment of comments" >
          <p>{{ comment.date | date:'YYYY-MM-dd, HH:mm' }}: <i>{{ comment.commentText }}</i></p>
          <p>- <b>{{ comment.user.name }} {{ comment.user.lastName }}</b></p>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div>

    <div>
      <h2 class="line">
        El. laiškai
      </h2>
      <button class="add-button" mat-raised-button color="primary" (click)="sendEmailModal()" [disabled]="(!canSendEmail)">Išsiųsti laišką</button>
    </div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
    
          Gautų laiškų sąrašas
    
        </mat-panel-title>
        <mat-panel-description>
          Laiškai, kuriuos gavo tavo organizacija nuo šio rėmėjo
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="receivedEmails">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Gavimo data</th>
          <td mat-cell *matCellDef="let email">{{ email.date | date:'YYYY-MM-dd, HH:mm:ss' }}</td>
        </ng-container>
    
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>Tema</th>
          <td mat-cell *matCellDef="let email">{{ email.subject }}</td>
        </ng-container>
      
        <ng-container matColumnDef="fromName">
          <th mat-header-cell *matHeaderCellDef>Nuo</th>
          <td mat-cell *matCellDef="let email">{{ email.fromName }}</td>
        </ng-container>
      
        <ng-container matColumnDef="fromEmail">
          <th mat-header-cell *matHeaderCellDef>Siuntėjo el. pašto adresas</th>
          <td mat-cell *matCellDef="let email">{{ email.fromEmail }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsReceived"></tr>
        <tr mat-row *matRowDef="let email; columns: displayedColumnsReceived;" (click)="openEmailReadModal(email)" [ngClass]="'emailR'"></tr>
      </table>
    </mat-expansion-panel>
    
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
    
            Išsiųstų laiškų sąrašas
    
        </mat-panel-title>
        <mat-panel-description>
          Laiškai, kuriuos šiam rėmėjui išsiuntė tavo organizacija
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="sentEmails">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Išsiuntimo data</th>
          <td mat-cell *matCellDef="let email">{{ email.date | date:'YYYY-MM-dd HH:mm:ss' }}</td>
        </ng-container>
    
        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef>Tema</th>
          <td mat-cell *matCellDef="let email">{{ email.subject }}</td>
        </ng-container>
      
        <ng-container matColumnDef="fromName">
          <th mat-header-cell *matHeaderCellDef>Išsiuntė</th>
          <td mat-cell *matCellDef="let email">{{ email.user.name + " " + email.user.lastName}}</td>
        </ng-container>
      
        <ng-container matColumnDef="receiverEmail">
          <th mat-header-cell *matHeaderCellDef>El. pašto adresas</th>
          <td mat-cell *matCellDef="let email">{{ email.receiverEmail }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSent"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSent;" (click)="openEmailSentModal(row)" [ngClass]="'emailR'"></tr>
      </table>
    </mat-expansion-panel>

  </div>

