:host{
    min-height: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

button{
    display: inline-block;
    margin: 10px;
}
